@charset "UTF-8";
.container{
	margin-top:100px;
	display:flex;
	justify-content:center;
}
.ei-c{
	position:relative;
	margin-top:2vmax;
	width:50vmax;
	height:100%;
}
.ei-c > nav ul{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-bottom:1vmax;
}
.ei-c > nav ul li{
	padding:10px;
}
.ei-i{
	position:absolute;
	top:4.5vmax;
	left:5vmax;
	position:absolute;
	width:40vmax;
	height:42.5vmax;
	display:flex;
	flex-direction:column;
	text-align:right;
}
.ei-i-1{
	display: inline-block;
	margin:0.5vmax;
	margin-right:10vmax;
}
.ei-i-1>label{
	color:#8C8C8C;
}
.ei-i-1>input{
	border:1px solid #8C8C8C;
	border-radius:5px;
	width:15vmax;
	height:1.2vmax;
	text-align:center;
} 
.ei-i-1 > input:focus{
	outline: 2px solid #35B62C;
} 
.ei-i-1:nth-child(4) >input{
	width:7vmax;
	height:1.3vmax;
}
.ei-i-1:nth-child(4) >input:nth-child(3){
	width:1.2vmax;
	height:1.3vmax;
}
.ei-i-1:nth-child(4) >span{
	height:1.2vmax;
	width:10vmax;
	font-weight:bold;
	maring-top:2vmax;
}
.ei-i-1:nth-child(6) >input{
	width:15vmax;
	height:1.2vmax;
}
.ei-i-1:nth-child(8) >input{
	width:6vmax;
	height:1.2vmax;
	margin-left:5.2vmax;
}
.ei-i-1:nth-child(1){
	margin-top:0.7vmax;
}
.ei-i-1>span{
	background:#F3F6F9;
	padding:0.1vmax 0.15vmax 0.4vmax 0.15vmax;
	border-radius:5px;
}
.ei-i-title, .ei-i-btn{
	text-align:center;
	color:#8C8C8C;
	margin-left:3vmax;
}
.ei-i-btn > button{
	cursor:pointer;
}
.basic-info, .password-chng, .ei-i-1 > button {
	cursor:pointer;
}
.basic-info:hover, .password-chng:hover{
	border-bottom:3px solid #35B62C;
}
[disabled] {
	background:#BDBDBD;
 }
 .basic-info, .password-chng {
    cursor: pointer;
    display: block; /* Add display: block to make the elements appear in separate lines */
}

.basic-info:hover, .password-chng:hover {
    border-bottom: 3px solid #35B62C;
}
.line{
	border-bottom: 3px solid #35B62C;
	font-weight:bold;
}
 button{
 	border:1px solid black;
 	background:black;
 	border-radius:5px;
 	color:#fff;
 	padding:0.20vmax 1vmax 0.25vmax 1vmax;
 }