@charset "UTF-8";
.modal_check{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
}

.modal_content {
	position: fixed;
	background-color: white;
	padding: 50px 50px;
	position: relative;
	width: 30%;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 19), 0 6px 6px rgba(0, 0, 0, 23);
	text-align: center;
		justify-content:center;
	align-items:center;
}
.hidden{
	display:none;
}
.modal_content{
	position:relative;
}
.modal_content_items{
	text-align:left;
	display:flex;
	flex-direction:column;

}
.modal_content>button{
	position:absolute;
	top:2vmax;
	right:2vmax;
	width: 2vmax;
	height: 1.5vmax;
	background-color: black ;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	font-size: 0.9vmax;
	cursor: pointer;
}

.modal_content_items table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal_content_items th,
.modal_content_items td {
  font-size:0.7vmax;
  padding: 8px;
  border: 1px solid #ddd;
}
.modal_content_items td:nth-child(1){
	background-color: #f2f2f2;
	
}
.modal_content_items th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.modal_content_items tr:hover {
  background-color: #e2e2e2;
}
.modal_content_items input{
	border: 1px solid #f2f2f2 ;
	border-radius: 5px;
}
.modal_content_items button{
	background-color: black ;
	border: 1px solid black ;
	border-radius: 5px;
	color:white;
	width:4vmax;
	cursor:pointer;
}

/* @charset "UTF-8"; */

.modal_check1{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_overlay1 {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
}

.modal_content1 {
	position: fixed;
	background-color: white;
	padding: 50px 50px;
	position: relative;
	width: 30%;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 19), 0 6px 6px rgba(0, 0, 0, 23);
	text-align: center;
		justify-content:center;
	align-items:center;
}
.hidden{
	display:none;
}
.modal_content1{
	position:relative;
}
.modal_content_items1{
	text-align:left;
	display:flex;
	flex-direction:column;

}
.modal_content>button1{
	position:absolute;
	top:2vmax;
	right:2vmax;
	width: 2vmax;
	height: 1.5vmax;
	background-color: black ;
	border: 1px solid black ;
	border-radius: 5px;
	color: white;
	font-size: 0.9vmax;
	cursor: pointer;
}

.modal_content_items1 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal_content_items1 th,
.modal_content_items1 td {
  font-size:0.7vmax;
  padding: 8px;
  border: 1px solid #ddd;
}
.modal_content_items1 td:nth-child(1){
	background-color: #f2f2f2;
	
}
.modal_content_items1 th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.modal_content_items1 tr:hover {
  background-color: #e2e2e2;
}
.modal_content_items1 input{
	border: 1px solid #f2f2f2 ;
	border-radius: 5px;
}
.modal_content_items1 button{
	background-color: black ;
	border: 1px solid black ;
	border-radius: 5px;
	color:white;
	width:3vmax;
	cursor:pointer;
}
.tag-btn{
	display:flex;
	flex-direction:row;
	float:right;
	width:1vmax;
}
.tag-btn>button{
	margin-left:0.2vmax;
}