@charset "UTF-8";

.container{
	display:flex;
	width:100%;
	justify-content:center;
}
li, ul{
	list-style-type: none;
}
.vaca-info{
	flex-grow: 0;
	width: 900%;
}
/* #calendar{
  margin-top:5vmax;
  flex-grow: 0;
   flex-grow를 0으로 설정하여 분배되는 공간을 동일하게 유지합니다.
  width: 40vmax; 원하는 픽셀값으로 설정합니다.
  height:43vmax;
  max-height: 43vmax;
} */
.pasing,
.vaca-table table {
  flex: 1; /* 동일한 너비를 가지도록 flex 속성을 사용 */
  margin: 0; /* .vaca-table table의 마진을 제거 */
  width: 100%; /* 테이블의 너비를 100%로 설정하여 전체 너비를 채우도록 수정 */
  border-collapse: separate;
  border-spacing: 0;
  clip-path: inset(0 0 0 0 round 10px);
}
.fc-header-toolbar{
	margin-top:100px;
}
.vaca-table table {
  margin:0;
}
.vaca-info-i{
	float:right;
	width:100%;
}
.vaca-nav, .vaca-nav > nav{
	width:100%;
}

.vaca-nav > nav ul{
	display:flex;
	padding:0;
	float:right;
}
.vaca-nav > nav > ul > li{
	margin:0.5vmax;
}
.vaca-nav > nav > ul > li > select{
	border:2px solid #dee2e6;;
	border-radius:5px;
	width:5vmax;
	height:1.5vmax;
}
.vaca-nav > nav > ul > li > button{
	width:4vmax;
	/* height:1.5vmax; */
	height:90%;
	background:black;
	border:1px solid black;
	border-radius:5px;
	color:white;
}
.apply_vacation{
	width:5vmax;
}
.vaca-info-i{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width:97%;
}
.vaca-info-i >div{
	display:flex;
	flex-direction:row;
}
.vaca-info-i >div div{
	border:2px solid #F3F6F9;
	margin:1vmax;
	width:8vmax;
	height:2vmax;
	display:flex;
	justify-content:center;
	align-items:center;
}
.vaca-table{
	margin:1vmax;
	max-height:35vmax;
	overflow:auto;
	margin-bottom:0;
}
.vaca-table > table{
	border-collapse: collapse;
	text-align:center;
}
.vaca-List-head{
	background:black;
	color:white;
	width:100%;
	height:2.5vmax;
	position:sticky;
	top:0;
}
.vaca-table > table > thead> tr{
	margin:1vmax;
	font-weight:bold;
}
.item-space-list> tr > td{
	padding: 0.7vmax 0.7vmax;
}

.apply_vacation{
	cursor:pointer;
}
.hidden-data {
    display: none;
}
.tag-btn{
	display:flex;
	flex-direction:row;
	
}