@charset "UTF-8";
*{
	font-size:0.8vmax;
}
.container-i {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.item-nav {
	display: flex;
	justify-content: center;
	width:100%;
}

.items {
	margin-top: 2vmax;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item-info {
	width: 50vmax;
	border: 2px solid skyblue;
}

.item-space {
	margin-left: 1vmax;
	width: 40vmax;
	border: 2px solid skyblue;
}

.item-space{
	height: 38vmax;
	max-height: 40vmax;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.item-info{
	height: 38vmax;
	max-height: 40vmax;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.item-info>table, .item-space>table {
	margin: 0;
	border-collapse: collapse;
}

.item-info>table>tbody>tr {
	border-spacing: 0.3vmax;
}
.item-info-list> tr> td:nth-child(4){
	cursor:pointer;
}
.item-info>table>tbody>tr>td {
	border: none;
	padding: 1vmax 0vmax 1vmax 0vmax;
}

.item-space table thead {
	padding-top: 1vmax;
	padding-bottom: 1vmax;
}

.emp-user-vct {
	background-color:skyblue;
	color:white;
}

thead {
	background: skyblue;
	color: white;
	font-weight: bold;
}
#srch-emp-nm{
	cursor:pointer;
}

.hidden-data {
	display: none;
}