<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.erp.project.mapper.vacation.VacationMapper">
<!-- 휴가신청 -->
<update id="applyVacation" statementType="CALLABLE">
  call vicerp.sp_use_vact(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_st_dt, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_ed_dt, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_div_dtl_cd, mode=IN, jdbcType=VARCHAR},
    #{vact_dcnt, mode=IN, jdbcType=NUMERIC},
    #{base_date, mode=IN, jdbcType=VARCHAR},
    #{hdl_div_cd, mode=IN, jdbcType=VARCHAR}
  )
</update>

<!--약정휴가신청  -->
<insert id="applyCtalVacation" statementType="CALLABLE">
 call vicerp.sp_use_ctal_vact(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{vact_use_st_dt, mode=IN, jdbcType=VARCHAR},
    #{vact_use_ed_dt, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_div_dtl_cd, mode=IN, jdbcType=VARCHAR},
    #{vct_dcnt, mode=IN, jdbcType=NUMERIC},
    #{base_date, mode=IN, jdbcType=VARCHAR},
    #{pay_seq, mode=IN, jdbcType=NUMERIC},
    #{mgmt_seq, mode=IN, jdbcType=NUMERIC}
 )
</insert>
 



<!-- 지급휴가반환 -->
<select id="fncPayVct2" statementType="CALLABLE" parameterType="map" resultType="java.lang.Float">
  SELECT vicerp.fnc_pay_vct(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_div_dtl_cd, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 지급이월휴가반환 -->
<select id="fnc_pyy_pay_cyov_mnty2" statementType="CALLABLE" parameterType="map" resultType="java.lang.Float">
  SELECT vicerp.fnc_pyy_pay_cyov_mnty(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_div_dtl_cd, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 사용휴가반환 -->
<select id="fncUseVct2" statementType="CALLABLE" parameterType="map" resultType="java.lang.Float">
  SELECT vicerp.fnc_use_vct(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_div_dtl_cd, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 사용이월휴가반환 -->
<select id="fnc_pyy_use_cyov_mnty2" statementType="CALLABLE" parameterType="map" resultType="java.lang.Float">
  SELECT vicerp.fnc_pyy_use_cyov_mnty(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{vact_pay_use_div_dtl_cd, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 잔여연차반환 -->
<select id="fncRmnVct2" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_rmn_vct(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 잔여월차반환 -->
<select id="fncRmnMntyVact2" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_rmn_mnty_vact(
    #{emp_no},
    #{base_date}
  ) 
</select>
<!-- 잔여총휴가반환 -->
<select id="fncRmnVact2" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_rmn_vact(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 이월휴가 -->
<select id="fncCyovVact2" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_cyov_vact(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>

<!--약정휴가 요약정보 -->

<!-- 지급약정휴가(전체) -->
<select id="fncCtalPayVct" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_ctal_pay_vct(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>
<!-- 사용약정휴가(전체)  -->
<select id="fncCtalUseVct" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_ctal_use_vct(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>

<!-- 잔여약정휴가(전체)  -->
<select id="fncRmnCtalVact" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.Float">
  SELECT vicerp.fnc_rmn_ctal_vact(
    #{emp_no, mode=IN, jdbcType=VARCHAR},
    #{base_date, mode=IN, jdbcType=VARCHAR}
  ) 
</select>

<!--약정휴가 리스트  -->
<select id="getCtalVactDetails" parameterType="java.util.List" resultType="com.vic.erp.project.VO.CtalVactVO">
  SELECT 
    REMK as "remark",
    VACT_PAY_USE_DIV_DTL_CD as "vactPayUseDivDtlCd", 
    rmn_vact,
    CTAL_VACT_PAY_SEQ as "ctalVactPaySeq",
    CTAL_VACT_MGMT_SEQ as "ctalVactMgmtSeq"
  FROM 
  (
    SELECT
      A.VACT_DCNT AS pay_vact,
      SUM(B.VACT_DCNT) AS use_vact,
      CASE WHEN SUM(B.VACT_DCNT) IS NULL THEN A.VACT_DCNT ELSE (A.VACT_DCNT - SUM(B.VACT_DCNT)) END AS rmn_vact,
      A.VACT_PAY_USE_DIV_CD,
      A.VACT_PAY_USE_DIV_DTL_CD,
      A.CTAL_VACT_PAY_SEQ,
      A.CTAL_VACT_MGMT_SEQ,
      C.REMK,
      C.PJT_NM,
      C.YOS_YCNT
    FROM VICERP.CTAL_VACT_PAY A
    LEFT OUTER JOIN vicerp.CTAL_VACT_USE B ON (
      A.CTAL_VACT_PAY_EMP_NO = B.CTAL_VACT_USE_EMP_NO 
      AND A.CTAL_VACT_MGMT_SEQ = B.CTAL_VACT_MGMT_SEQ 
      AND A.CTAL_VACT_PAY_SEQ = B.CTAL_VACT_PAY_SEQ
    )
    INNER JOIN VICERP.CTAL_VACT_PAY_MGMT C ON (
      A.CTAL_VACT_PAY_EMP_NO = C.PAY_TG_EMP_NO 
      AND A.CTAL_VACT_MGMT_SEQ = C.CTAL_VACT_MGMT_SEQ
    )
    WHERE 
      A.CTAL_VACT_PAY_EMP_NO = #{emp_no}
      AND TO_CHAR(CURRENT_DATE, 'YYYYMMDD') &lt;= A.VACT_PAY_ED_DT
      AND  A.VACT_PAY_ST_DT &lt;= TO_CHAR(CURRENT_DATE,'YYYYMMDD')
    GROUP BY
      A.VACT_PAY_USE_DIV_CD,
      A.VACT_PAY_USE_DIV_DTL_CD,
      A.CTAL_VACT_PAY_SEQ,
      A.VACT_DCNT,
      A.CTAL_VACT_MGMT_SEQ,
      C.REMK,
      C.PJT_NM,
      C.YOS_YCNT
  ) AS tb
</select>




<!-- 휴가내역리스트 -->
<select id="vacaList" parameterType="java.util.List" resultType="com.vic.erp.project.VO.VacaPayUseVO">
	SELECT 
    VPU.VACT_PAY_USE_EMP_NO,
    CASE WHEN VPU.HDL_DIV_CD IS NOT NULL THEN VPU.HDL_DIV_CD ELSE VPU.VACT_PAY_USE_DIV_DTL_CD END AS "VACT_PAY_USE_DIV_DTL_CD",
    CASE WHEN VPU.HDL_DIV_CD = 'L1' THEN '반차(오전)'
         WHEN VPU.HDL_DIV_CD = 'M1' THEN '반차(오후)'
    ELSE CCD.COM_CD_NM END AS "VCT_NAME",
    CCD2.COM_CD_NM AS "VCT_USEORPAY",
    VPU.VACT_PAY_USE_ST_DT, 
    VPU.VACT_PAY_USE_ED_DT, 
    VPU.VACT_DCNT, 
    VPU.REG_DTTM,
    VUD.VACT_DEDUC_SEQ,
    VUD.VACT_USE_SEQ
FROM 
    VICERP.VACT_PAY_USE VPU 
LEFT JOIN
    VICERP.COM_CD_DTL CCD ON CCD.COM_CD = VPU.VACT_PAY_USE_DIV_DTL_CD 
LEFT JOIN
    VICERP.COM_CD_DTL CCD2 ON CCD2.COM_CD = VPU.VACT_PAY_USE_DIV_CD 
LEFT JOIN
    VICERP.VACT_USE_DETL VUD ON VUD.VACT_USE_SEQ = VPU.VACT_PAY_USE_SEQ 
LEFT JOIN 
    VICERP.EMP E ON E.EMP_NO = VPU.VACT_PAY_USE_EMP_NO
LEFT JOIN
    VICERP.ORG O ON O.ORG_NO = E.BLNG_ORG_NO 
LEFT JOIN 
    VICERP.COM_CD_DTL CCD3 ON CCD3.COM_CD = E.CRNK_CD 
WHERE 
    VPU.VACT_PAY_USE_EMP_NO = #{emp_no}
UNION
(SELECT 
	   A.CTAL_VACT_PAY_EMP_NO 
	 , A.VACT_PAY_USE_DIV_DTL_CD  
	 , C.COM_CD_NM 
	 , D.COM_CD_NM
	 , A.VACT_PAY_ST_DT 
	 , A.VACT_PAY_ED_DT 
	 , A.VACT_DCNT 
	 , A.REG_DTTM  
	 , A.CTAL_VACT_PAY_SEQ 
	 , A.CTAL_VACT_MGMT_SEQ 
  FROM VICERP.CTAL_VACT_PAY A 
	   INNER JOIN VICERP.COM_CD_DTL C 
	     ON (A.VACT_PAY_USE_DIV_DTL_CD = C.COM_CD)
	   INNER JOIN VICERP.COM_CD_DTL D  
	     ON (A.VACT_PAY_USE_DIV_CD = D.COM_CD)
WHERE 1=1
  AND  A.CTAL_VACT_PAY_EMP_NO = #{emp_no})
UNION
(SELECT 
	   B.CTAL_VACT_USE_EMP_NO 
	 , B.VACT_PAY_USE_DIV_DTL_CD   
	 , C.COM_CD_NM 
	 , D.COM_CD_NM
	 , B.VACT_USE_ST_DT  
	 , B.VACT_USE_ED_DT 
	 , B.VACT_DCNT 
	 , B.REG_DTTM
	 , E.VACT_DEDUC_SEQ 
	 , E.VACT_USE_SEQ 
  FROM VICERP.CTAL_VACT_USE B 
       INNER JOIN VICERP.CTAL_VACT_PAY A
         ON (    A.CTAL_VACT_PAY_EMP_NO = B.CTAL_VACT_USE_EMP_NO
           		AND A.CTAL_VACT_PAY_SEQ = B.CTAL_VACT_PAY_SEQ 
         	)
	   INNER JOIN VICERP.COM_CD_DTL C 
	     ON (B.VACT_PAY_USE_DIV_DTL_CD = C.COM_CD)
	   INNER JOIN VICERP.COM_CD_DTL D  
	     ON (B.VACT_PAY_USE_DIV_CD = D.COM_CD)
	   INNER JOIN VICERP.VACT_USE_DETL E 
	     ON (      B.CTAL_VACT_USE_SEQ = E.VACT_USE_SEQ
	         AND   B.CTAL_VACT_USE_EMP_NO = E.VACT_USE_EMP_NO  
	         AND   B.CTAL_VACT_PAY_SEQ =E.VACT_PAY_SEQ 
	     )
WHERE 1=1
  AND  B.CTAL_VACT_USE_EMP_NO = #{emp_no})
ORDER BY VACT_PAY_USE_ST_DT DESC;
</select>


<!-- 휴가신청삭제 -->
<update id="vctDelete2" statementType="CALLABLE">
	  call vicerp.sp_cancel_vact(
	    #{cancel_emp_no, mode=IN, jdbcType=VARCHAR},
	    #{use_emp_no, mode=IN, jdbcType=VARCHAR},
	    #{vac_use_seq, mode=IN, jdbcType=INTEGER},
	    #{vac_dec_seq, mode=IN, jdbcType=INTEGER}
	  )
</update>

<!--약정휴가취소  -->
<update id="ctalVctDelete" statementType="CALLABLE">
	   call vicerp.sp_cancel_ctal_vact(
	   	#{cancel_emp_no, mode=IN, jdbcType=VARCHAR},
	    #{use_emp_no, mode=IN, jdbcType=VARCHAR},
	    #{vac_use_seq, mode=IN, jdbcType=INTEGER},
	    #{vac_dec_seq, mode=IN, jdbcType=INTEGER}
	   )
</update>



<!-- 휴가 날짜 달력표시 -->
<select id="caleanderData2" parameterType="java.lang.String" resultType="com.vic.erp.project.VO.VacaPayUseVO">
	select vpu.vact_pay_use_st_dt, vpu.vact_pay_use_ed_dt, e.emp_nm
	from 
		vicerp.vact_pay_use vpu 
	join
		vicerp.emp e 
	on
		e.emp_no = vact_pay_use_emp_no 
	where 
		vpu.vact_pay_use_div_cd ='U9'
</select>
</mapper>