<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.vic.erp.project.mapper.management.vctMng.VctMngMapper">
	<select id="empVctList2" parameterType="java.lang.String"
		resultType="com.vic.erp.project.VO.VctMngVO">
		SELECT
		    ROW_NUMBER() OVER (ORDER BY e.crnk_cd ASC) as "numb",
		    o.org_nm as "org_nm",
		    ccd2.com_cd_nm as "crnk_cd",
		    e.emp_nm as "emp_nm",
		    e.entr_dt as "entr_dt",
		    vicerp.fnc_year_service(e.emp_no, #{base_date}) as "fnc_year_service",
		    vicerp.fnc_pay_vct(e.emp_no, 'B1', #{base_date}) as "fnc_pay_vct_month",
		    vicerp.fnc_pay_vct(e.emp_no, 'A1',#{base_date}) as "fnc_pay_vct_year",
		    vicerp.fnc_fix_cyov_vact(e.emp_no, #{base_date}) as "fnc_cyov_pay",
		    vicerp.fnc_calc_add_vct(e.emp_no,#{base_date}) as "fnc_calc_add_vct",
		    sum(vicerp.fnc_chg_use_vct(e.emp_no, 'A1', #{base_date}) + vicerp.fnc_chg_use_vct(e.emp_no, 'B1', #{base_date})) as "fnc_use_vct",
		    vicerp.fnc_rmn_vact(e.emp_no, #{base_date}) as "fnc_rmn_vact",
		    e.emp_no
		FROM
		    vicerp.emp e
		LEFT JOIN
		    vicerp.org o ON o.org_no = e.blng_org_no
		LEFT JOIN
		    vicerp.com_cd_dtl ccd2 ON ccd2.com_cd = e.crnk_cd
		WHERE
		    e.emp_nm LIKE '%' || #{keyword} || '%'
		GROUP BY
		    o.org_nm,
		    ccd2.com_cd_nm,
		    e.emp_nm,
		    e.entr_dt,
		    e.emp_no
		ORDER BY
		    e.crnk_cd ASC;

	</select>
</mapper>