<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.erp.project.mapper.employeeInfo.EmpInfoMapper">
	<!-- 비밀번호 변경 -->
	<update id="empPwdChng">
		UPDATE vicerp.hr_login_b 
		SET lgin_pwd = #{lgin_pwd},
		    pwd_chg_dttm = #{pwd_chg_dttm},
		    modf_dttm = #{modf_dttm},
		    modf_emp_no = #{modf_emp_no}
		WHERE emp_no = #{emp_no};

	</update>
	
	<select id="empInfo" resultType="com.vic.erp.project.VO.EmployeeVO">
		select 
				e.emp_nm , e.emp_no , e.ppst_ssn , e.bpst_ssn , e.hp_tel_no , e.cmpy_email , e.indd_email , e.emp_addr_post_no , 
			    e.emp_ppst_addr , e.emp_bpst_addr, ccd1.com_cd_nm AS employe_position, o.org_nm, e.entr_dt 
		from 
				vicerp.emp e 
		inner join 
				vicerp.com_cd_dtl ccd1 
		on 
				ccd1.com_cd = e.crnk_cd and ccd1.com_cd_id = '100'
		join 
				vicerp.org o
		on 
				o.org_no = e.blng_org_no
		where e.emp_no = #{emp_no}
	</select>
	<update id="empInfoUpdate">
		UPDATE vicerp.emp
		SET ppst_ssn = #{ppst_ssn},
			bpst_ssn = #{bpst_ssn},
			hp_tel_no = #{hp_tel_no},
			cmpy_email = #{cmpy_email},
			indd_email = #{indd_email},
			emp_addr_post_no = #{emp_addr_post_no},
			emp_ppst_addr = #{emp_ppst_addr},
			emp_bpst_addr = #{emp_bpst_addr},
		    modf_dttm = #{modf_dttm},
		    modf_emp_no = #{modf_emp_no}
		WHERE emp_no = #{emp_no};
	</update>
</mapper>