<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.erp.project.mapper.board.BoardMapper">
	<!-- 게시판 사이드바 메뉴 -->
	<select id="brdMenu" resultType="com.vic.erp.project.VO.BoardVO">
		select 
			b.brd_id , b.brd_nm 
		from
			vicerp.brd b 
		ORDER BY
        	b.brd_id asc
	</select>
	<!-- 게시판 리스트 토탈 -->
<select id="boardTotal" parameterType="hashMap" resultType="java.lang.Integer">
    SELECT
        COUNT(b.boms_no)
    FROM
        vicerp.boms b
    INNER JOIN
        vicerp.brd b2
    ON
        b.brd_id = b2.brd_id
    JOIN
        vicerp.emp e
    ON
        e.emp_no = b.make_emp_no
    LEFT JOIN
        vicerp.atch_file af
    ON
        af.boms_no = b.boms_no
    <where>
        <if test="brd_id != null">
            AND b.brd_id = #{brd_id}
        </if>
        <choose>
            <when test="category == 'boms_title'">
                AND UPPER(b.boms_title) LIKE '%' || UPPER(#{keyword}) || '%'
            </when>
            <when test="category == 'make_emp_no'">
                AND UPPER(e.emp_nm) LIKE '%' || UPPER(#{keyword}) || '%'
            </when>
            <when test="category == 'boms_desc'">
                AND UPPER(b.boms_desc) LIKE '%' || UPPER(#{keyword}) || '%'
            </when>
            <otherwise>
                <!-- 기본적으로 아무 조건이 없는 경우 모든 레코드를 검색합니다. -->
            </otherwise>
        </choose>
    </where>
</select>
	<!-- 게시판 리스트 -->
<select id="brdList" parameterType="hashMap" resultType="com.vic.erp.project.VO.BoardVO">
    SELECT
    	ROW_NUMBER() OVER (ORDER BY b.boms_no asc) as "numb",
        b.boms_no, COUNT(af.atch_file_nm) AS atch_file_nm, b2.brd_nm,
        b.boms_title, e.emp_nm, b.modf_dttm, b.inq_cnt
    FROM
        vicerp.boms b
    INNER JOIN
        vicerp.brd b2
    ON
        b.brd_id = b2.brd_id
    JOIN
        vicerp.emp e
    ON
        e.emp_no = b.make_emp_no
    LEFT JOIN
        vicerp.atch_file af
    ON
        af.boms_no = b.boms_no
    <where>
        <if test="brd_id != null">
            AND b.brd_id = #{brd_id}
        </if>
        <choose>
            <when test="category == 'boms_title'">
                AND UPPER(b.boms_title) LIKE '%' || UPPER(#{keyword}) || '%'
            </when>
            <when test="category == 'make_emp_no'">
                AND UPPER(e.emp_nm) LIKE '%' || UPPER(#{keyword}) || '%'
            </when>
            <when test="category == 'boms_desc'">
                AND UPPER(b.boms_desc) LIKE '%' || UPPER(#{keyword}) || '%'
            </when>
            <otherwise>
                <!-- 기본적으로 아무 조건이 없는 경우 모든 레코드를 검색합니다. -->
            </otherwise>
        </choose>
    </where>
    GROUP BY
        b.boms_no, b2.brd_nm, b.boms_title, e.emp_nm, b.modf_dttm, b.inq_cnt
    ORDER BY
        b.boms_no desc
    LIMIT #{postNum} OFFSET #{displayPost}
</select>

<select id="getAttachFiles" parameterType="int"
		resultType="com.vic.erp.project.VO.AttachFileVO">
	SELECT
		atch_file_no,
		orig_diff_no,
		emp_no,
		boms_no,
		atch_file_use_div_cd,
		atch_file_nm,
		atch_file_path_nm,
		atch_file_size,
		reg_dttm,
		reg_emp_no,
		modf_dttm,
		modf_emp_no
	FROM
		vicerp.atch_file
	WHERE
		boms_no = #{boms_no}
</select>
<insert id="brdWrt"
		parameterType="com.vic.erp.project.VO.BoardVO">
	INSERT INTO vicerp.boms (boms_no, brd_id, make_emp_no,
		boms_title, boms_desc, boms_del_yn, popup_yn,
		inq_cnt, total_emp_tg_yn,
		up_boms_no, reg_dttm,
		reg_emp_no, modf_dttm,
		modf_emp_no)
	VALUES
		(
	nextval('vicerp.boms_no_seq'), #{brd_id}, #{make_emp_no},
		#{boms_title}, #{boms_desc},
		#{boms_del_yn}, #{popup_yn},
		#{inq_cnt},
		#{total_emp_tg_yn}, #{up_boms_no}, #{reg_dttm},
		#{reg_emp_no},
		#{modf_dttm}, #{modf_emp_no});
</insert>
<insert id="attachFileWrt"
		parameterType="com.vic.erp.project.VO.AttachFileVO">
	INSERT INTO vicerp.atch_file (atch_file_no,
		orig_diff_no, emp_no,
		boms_no, atch_file_use_div_cd,
		atch_file_nm,
		atch_file_path_nm, atch_file_size, reg_dttm, reg_emp_no, modf_dttm,
		modf_emp_no)
	VALUES
		(nextval('vicerp.atch_file_no_seq'),
	CONCAT(currval('vicerp.boms_no_seq'), #{emp_no}), #{emp_no},
		currval('vicerp.boms_no_seq'), #{atch_file_use_div_cd},
		#{atch_file_nm}, #{atch_file_path_nm}, #{atch_file_size},
		#{reg_dttm},
		#{reg_emp_no}, #{modf_dttm}, #{modf_emp_no});
</insert>
<insert id="brdSelNo"
		parameterType="com.vic.erp.project.VO.BoardVO">
	INSERT INTO vicerp.boms_sel_emp
		(boms_no, sel_emp_no, reg_dttm, reg_emp_no, modf_dttm, modf_emp_no)
	SELECT
		currval('vicerp.boms_no_seq'), e.emp_no, #{reg_dttm}, #{reg_emp_no},
		#{modf_dttm}, #{modf_emp_no}
	FROM
		vicerp.emp e
	JOIN
		vicerp.sys_pmss sp
	ON
		e.emp_no = sp.emp_no
	WHERE
		sp.sys_pmss_div_cd = #{authority}
		;
</insert>
<select id="brdRead2" parameterType="java.lang.Integer" resultType="com.vic.erp.project.VO.BoardVO">
	SELECT distinct 
   		b.boms_no, b2.brd_nm, b.boms_title, ccd.com_cd_nm as "ccd_crnk" , e.emp_nm , b.make_emp_no, af.atch_file_nm, af.atch_file_path_nm, af.atch_file_no, b.boms_desc , b.modf_dttm 
	FROM 
	    vicerp.boms b
	LEFT JOIN 
	    vicerp.atch_file af 
	ON 
	    b.make_emp_no = af.emp_no 
	AND 
		b.boms_no = af.boms_no
	JOIN 
	    vicerp.brd b2 
	ON 
	    b2.brd_id = b.brd_id 
	join 
		vicerp.emp e 
	on
		e.emp_no = b.make_emp_no 
	join 
		vicerp.com_cd_dtl ccd 
	on
		ccd.com_cd = e.crnk_cd 
	WHERE 
	    1 = 1 
	AND 
	    b.boms_no = #{boms_no}
	AND
	    b.inq_cnt = '0';
</select>
<select id="findFileNo" parameterType="java.lang.Integer" resultType="java.lang.String">
	SELECT 
		SUBSTRING(af.atch_file_path_nm, LENGTH('C:\\Users\zovan\Documents\workspace-sts-3.9.20.CI-B2026\vic-erp\src\main\resources\storedFile/')) AS atch_file_path_nm
	FROM 
		vicerp.boms b
	join 
		vicerp.atch_file af
	on
		b.boms_no = af.boms_no 
	WHERE
		af.atch_file_no = #{atch_file_no}
</select>
<!-- 댓글 -->
<select id="" parameterType="java.lang.Integer" resultType="com.vic.erp.project.VO.BoardVO">
	SELECT 
	    b.boms_no,
	    ccd.com_cd_nm,
	    e.emp_nm,
	    b.boms_desc,
	    b.modf_dttm,
	    b.inq_cnt
	FROM 
	    vicerp.boms b
	JOIN
	    vicerp.emp e 
	ON
	    e.emp_no = b.make_emp_no 
	JOIN 
	    vicerp.com_cd_dtl ccd 
	ON 
	    ccd.com_cd = e.crnk_cd 
	WHERE 
	    1=1 
	AND 
		b.boms_no = #{boms_no}
	AND 
		b.inq_cnt > 0;
</select>
<insert id="replyBrd2" parameterType="com.vic.erp.project.VO.BoardVO">
	INSERT INTO vicerp.boms
		(boms_no, brd_id, make_emp_no, boms_title, boms_desc, boms_del_yn, popup_yn, popup_st_dt, popup_ed_dt, inq_cnt, total_emp_tg_yn, up_boms_no, reg_dttm, reg_emp_no, modf_dttm, modf_emp_no)
	VALUES
		(nextval('vicerp.boms_no_seq'), '', #{make_emp_no}, '', #{boms_desc}, 'n', 'n', '', '', 0, 'y', #{up_boms_no}, #{reg_dttm}, #{reg_emp_no}, #{modf_dttm}, #{modf_emp_no});
</insert>
<select id="getBrdMessage2" parameterType="java.lang.Integer" resultType="com.vic.erp.project.VO.BoardVO">
	select distinct 
		b.boms_no ,ccd.com_cd_nm as "ccd_crnk", e.emp_nm , b.boms_desc, b.modf_dttm 
	from 
		vicerp.boms b
	join
		vicerp.emp e 
	on
		e.emp_no = b.make_emp_no 
	join 
		vicerp.com_cd_dtl ccd 
	on 
		ccd.com_cd = e.crnk_cd 
	where 
		1=1 
	and 
		b.up_boms_no = #{up_boms_no}
</select>
</mapper>