<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.erp.project.mapper.login.LoginMapper">
	<select id="findByLoginId" resultType="com.vic.erp.project.VO.LoginVO">
		select hlb.lgin_id , hlb.lgin_pwd, sp.sys_pmss_div_cd, hlb.emp_no, e.emp_nm  from vicerp.hr_login_b hlb
		inner join vicerp.emp e 
		on hlb.emp_no = e.emp_no 
		join vicerp.sys_pmss sp 
		on sp.emp_no = e.emp_no 
		where hlb.lgin_id = #{lgin_id}
	</select>
</mapper>